.container {
  @include flex-column(0);

  align-items: center;
  width: 46rem;
  padding: 4rem;
  border-radius: 2.4rem;
  background-color: $white;
}

.icon {
  width: 7rem;
  height: 7rem;
  margin-bottom: 2rem;
}

.title {
  @include pretendard-30-700;

  margin-bottom: 3rem;
  text-align: center;
}

.input-wrapper {
  @include flex-column(4rem);

  width: 100%;
  margin-bottom: 6rem;
}

.signup-text {
  @include pretendard-14-400;
  @include flex-center;

  margin-bottom: 3rem;
  color: $gray-50;

  & > .button {
    @include pretendard-14-600;

    margin-left: 0.5rem;
    color: $primary;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.spin-icon {
  height: 7rem;
}
