.wrapper {
  @include flex-column(0);

  padding: 2rem 0;
  overflow: hidden;
  border: 0.1rem solid $gray-20;
  border-radius: 2rem;
  background-color: $white;
}

.suggestion-wrapper {
  @include poppins-18-400;

  width: 100%;
  padding: 1.3rem 2rem;
  overflow: hidden;
  border-radius: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.focus {
  background-color: $primary-20;
}

.bg-black {
  background-color: $black;
  color: $gray-10;
}

.focus-black {
  background-color: $gray-10;
  color: $gray-50;
}

.highlight {
  color: $black;
  font-weight: 600;
}

.highlight-black {
  color: white;
  font-weight: 600;
}
