.checkout-completed {
  @include flex-column(4rem);

  .info-box {
    @include flex-column(1.2rem);
    @include pretendard-20-600;

    border-radius: 0.4rem;
    background: $white;
    color: $black;

    .success-message {
      padding: 2rem 2rem 0;
    }

    .info-title {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      color: $primary;
      gap: 1.2rem;
    }

    .item-box {
      @include flex-column(1.2rem);
      @include pretendard-20-600;

      padding: 0 2rem 2rem;
    }
  }

  .confirm-box {
    @include pretendard-16-400;
    @include flex-column(2rem);

    align-items: center;

    .confirm-button {
      @include pretendard-18-500;

      width: 34.8rem;
      padding: 2rem 4rem;
    }
  }
}
