.product-image {
  border: 0.1rem solid $gray-7;
  border-radius: 0.8rem;
  user-select: none;
  object-fit: cover;
}

.title {
  @include pretendard-16-700;
}

.item-text {
  @include flex-column(0);
  @include pretendard-16-500;

  width: 100%;
  color: $black;
}

.item-name {
  @include pretendard-14-400;

  display: -webkit-box;
  overflow: hidden;
  color: $black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.count {
  @include pretendard-14-500;

  flex-shrink: 0;
  color: $black;
}

.price {
  @include pretendard-14-400;

  color: $black;
}
