.container {
  width: 100%;
  background-color: $white;
  scroll-margin-top: 10rem;
}

.inner {
  @include inner;
}

.delivery-img-wrap {
  position: relative;
}

.delivery-img-wrap,
.center {
  @include flex-center;
}

.center {
  @include pretendard-16-400;

  width: 49.4rem;
  margin: 0 auto 20rem;
  padding: 3rem;
  border: 0.1rem solid $gray-50;
  color: $gray-50;
}

.icon {
  position: absolute;
  top: 0;
  right: 20rem;
}
