.container {
  width: 100%;
  background-color: black;
}

.inner {
  @include inner;
}

.button-area {
  @include flex-center;

  margin-top: 6rem;
}

.button {
  width: 100%;
  max-width: 49.4rem;
  margin-bottom: 20rem;
  padding: 2rem 0;
  border-radius: 0.8rem;
  background-color: #33374d;
  color: $white;
  text-align: center;

  @include pretendard-18-400;
}
