.container {
  width: 100%;
  height: 90rem;
  background: url('../../../../public/images/backconfetti.png'), linear-gradient(to left, #d3e1ff, #fcfcf2);
  background-position: 30% -139%;
}

.inner {
  max-width: 120rem;
  margin: 0 auto;

  @include flex-center;
}

.inner img {
  margin-top: 10rem;
}
