.wrapper {
  @include flex-center;
  @include flex-column(2rem);

  width: fit-content;
  height: 100%;
  margin: 10rem auto;
}

.title-wrapper {
  @include pretendard-30-400;

  display: flex;
  width: 100%;
}

.keyword {
  @include pretendard-30-600;

  display: inline-block;
  max-width: 30rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content-wrapper {
  @include pretendard-16-400;

  width: 100%;
  margin-left: 6rem;
  color: $gray-40;
  list-style: circle;
  text-align: left;
}
