.total-review-container {
  @include flex-column(16rem);

  margin: 4rem 0;
  border-top: 0.1rem solid $gray-10;
}

.container {
  padding: 2rem;
}

.top-section {
  @include pretendard-14-500;

  display: flex;
  justify-content: space-between;
  color: $gray-50;
}

.image {
  border-radius: 0.8rem;
}

.product-section {
  display: flex;
  align-items: center;
  margin-bottom: -1rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem dashed $gray-10;
  gap: 2rem;
}

.name {
  @include pretendard-16-600;
}

.option {
  @include pretendard-14-500;

  color: $gray-50;
}

.no-review {
  display: flex;
  justify-content: center;
  margin: 15rem 0;
  color: $gray-40;

  @include pretendard-20-600;
}

.no-product-data {
  @include flex-center;
  @include pretendard-16-600;

  margin-top: 5rem;
}

.button-section {
  @include pretendard-16-500;

  display: flex;
  align-items: center;
  padding: 0.6rem 0;
  color: $gray-40;
}

.edit-button {
  padding-right: 1.2rem;
}

.delete-button {
  padding-left: 1.2rem;
}

.line {
  @include pretendard-16-400;

  color: $gray-30;
}
